#Main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.15fr max-content;
    grid-gap: 2rem;
    justify-items: center;
}

.profile-pic-wrapper {
    filter: drop-shadow(13px 11px 0px rgba(150,245,150,1));
}

.profile-pic {
    height: 300px;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
}

/* Small (sm) */
@media (min-width: 640px) { 
    #Main {
        grid-template-columns: 0.5fr 0.35fr 0.3fr 2fr 0.5fr;
        grid-template-rows: 0.1fr 0.25fr 1fr 0.25fr;
    }

    .profile-pic {
        height: auto;
    }
}

/* Medium (md) */
@media (min-width: 768px) { 

 }

/* Large (lg) */
@media (min-width: 1024px) { /* ... */ }

/* Extra Large (xl) */
@media (min-width: 1280px) { /* ... */ }


